<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ted Talks</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="static/css/query.css"/>

</head>

<body>
	<header class="header-section">
		<div class="header-warp">
			<div class="container">
				<a href="#">
					<img type="text/javascript" src="static/img/header.jpg" width="1300" height="150">
				</a>
			</div>
		</div>
	</header>

	<!-- Search section -->
	<div class="multi-search-section">
		<div class="msf-warp set-bg" data-setbg="static/img/bg2.jpg">
			<div class="container-search">
				<h2>Search Ted Talks</h2>
				<form class="multi-search-form" action="/results" name="search" method="post">
					<dl>
						<input type="text" name="query" placeholder="Whatcha watching today?" style="margin-left:80px; width: 1100px;margin-top:40px">
					</dl>
					<!-- <dd>
						<input type="text" placeholder="topic" style="margin-left:40px; margin-top:60px">
					</dd> -->
					<dd>
						<input type="text" name="speaker" placeholder="Search speaker" style="margin-left:40px; margin-top:60px">
					</dd>
					<dd>
						<!-- <input type="text" placeholder="duration" style="margin-left:20px; margin-top:30px"> -->
						<select name="duration" id="duration" style="margin-left:20px; margin-top:60px">
							<option value="0">duration</option>
							<option value="1">0 - 5 mins</option>
							<option value="2">5 - 10 mins</option>
							<option value="3">10 - 20 mins</option>
							<option value="4">> 20 mins</option>
						</select>
					</dd>
					<dd>
						<button class="site-btn" value="Search" style="margin-left:350px; margin-top:60px">Search</button>
					</dd>
				</form>
			</div>
		</div>
	</div>
	<!-- Search section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="static/js/jquery-3.2.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/circle-progress.min.js"></script>
	<script src="static/js/main.js"></script>

</body>
</html>