<!doctype html>
<html lang="en">
<head>
	<title>Talk Page</title>
	<meta charset="UTF-8">

	<!-- <link rel="stylesheet" href="/static/css/page.css"/> -->
</head>

<body bgcolor="white">
	<div style="text-align: center">
		<h2>  {{film['speaker']}}: {{ film['title']|safe}}  </h2>
	</div>
	<div>
		<div style="font-size: 18px">
			<div nowrap style="position:relative;height:0;padding-bottom:41%">
				<iframe src="{{film['embed']}}" style="position:absolute;left:0;top:0;height:80%;width:62%" frameborder="0" scrolling="no" allowfullscreen>
				</iframe>
				<div style="margin-left: 63%">
					<a href="{{ film['wc'] }}"><img src="{{ film['wc'] }}" width="200" height="140"></a>
				</div>
				<div style="margin-left: 63%">
					<textarea readonly="readonly" style="width: 450px; height: 80px;padding-bottom:40%; font-size: 16px">{{film['transcript'] | safe}}
					</textarea>
				</div>
				<tr>
					<td>{{film['description'] | safe}}</td>
				</tr>
				<tr>
				{%if film['comments']%}
					<br/><br/><br/>
					<tr>
					What people say on Youtube:
					<br>
					{% for c in film['comments'] %}
						{{c}}
						<br>
	 				{% endfor %}
					</tr>
				
				{% endif %}
				</tr>

				<br/><br/><br/>
				Recommended for you: 
				<div style="padding-top: 2%">
					<!-- XXX: {{ recs }} -->
					{% for rec in recs %}					
 						<th rowspan="5"><a href="/documents/{{rec}}"><iframe autoplay=false src="{{recs[rec]['embed']}}" 
 						width="300" height="200"></a></th></iframe>
 					{% endfor %}

					<!-- {% for rec in recs %}					 -->
 					<!-- 	<th>{{recs[rec]['title']}}</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 					{% endfor %} -->

				</div>
				<!-- <div style="padding-top: 2%">
					Source: <a href="{{film['link']}}" target="_blank">  {{ film['link']|safe }}</a>

				</div> -->

			</div>
		</div>
	</div>

	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/circle-progress.min.js"></script>
	<script src="../static/js/main.js"></script>

</body>
