<!doctype html>
<html lang="en">
<head>
	<title>Talk Page</title>
	<meta charset="UTF-8">

	<!-- <link rel="stylesheet" href="/static/css/page.css"/> -->
</head>

<body bgcolor="white">
	<div style="text-align: center">
		<h2>  {{film['speaker']}}: {{ film['title']|safe}}  </h2>
	</div>
	<div>
		<div style="font-size: 18px">
			<div nowrap style="position:relative;height:0;padding-bottom:41%">
				<iframe src="{{film['embed']}}" style="position:absolute;left:0;top:0;height:80%;width:62%" frameborder="0" scrolling="no" allowfullscreen>
				</iframe>
				<div style="margin-left: 63%">
					<a href="{{film['wc']}}"></a><img src={{film['wc']}} width="200" height="140">
				</div>
				<br/>
				<div style="margin-left: 63%">
					<textarea readonly="readonly" style="width: 450px; padding-bottom:40%; font-size: 16px; text-indent: 0; ">{{film['transcript'] | safe}}
					</textarea>
				</div>
				<br/>
				<div style="padding-top: 2%">
					Source Page: <a href="{{film['link']}}" target="_blank">  {{ film['link']|safe }}</a>
				</div>
			</div>
		</div>
	</div>

	<!--====== Javascripts & Jquery ======-->
	<script src="static/js/jquery-3.2.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/circle-progress.min.js"></script>
	<script src="static/js/main.js"></script>

</body>